In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append('..')

In [7]:
data = pd.read_csv('../Data/IBMCustomerChurn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [26]:
other_services = data.iloc[:,[9,10,11,12,13,14]].copy()
other_services['OtherServices'] = 0
other_services

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,OtherServices
0,No,Yes,No,No,No,No,0
1,Yes,No,Yes,No,No,No,0
2,Yes,Yes,No,No,No,No,0
3,Yes,No,Yes,Yes,No,No,0
4,No,No,No,No,No,No,0
...,...,...,...,...,...,...,...
7038,Yes,No,Yes,Yes,Yes,Yes,0
7039,No,Yes,Yes,No,Yes,Yes,0
7040,Yes,No,No,No,No,No,0
7041,No,No,No,No,No,No,0
7042,Yes,No,Yes,Yes,Yes,Yes,0

In [35]:
for i in list(range(0,other_services.shape[0])):
    boolean = (other_services.loc[i,'OnlineSecurity'] != 'No') | (other_services.loc[i,'OnlineBackup'] != 'No'
        ) | (other_services.loc[i,'DeviceProtection'] != 'No') | (other_services.loc[i,'TechSupport'] != 'No'
        ) | (other_services.loc[i,'StreamingTV'] != 'No') | (other_services.loc[i,'StreamingMovies'] != 'No')
    if boolean == True:
        other_services.loc[i,'OtherServices'] = 1
        
other_services

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,OtherServices
0,No,Yes,No,No,No,No,1
1,Yes,No,Yes,No,No,No,1
2,Yes,Yes,No,No,No,No,1
3,Yes,No,Yes,Yes,No,No,1
4,No,No,No,No,No,No,0
...,...,...,...,...,...,...,...
7038,Yes,No,Yes,Yes,Yes,Yes,1
7039,No,Yes,Yes,No,Yes,Yes,1
7040,Yes,No,No,No,No,No,1
7041,No,No,No,No,No,No,0
7042,Yes,No,Yes,Yes,Yes,Yes,1

In [45]:
other_services = pd.get_dummies(other_services)
other_services.head()

,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes
0,0,1,0,0,0,0
1,1,0,1,0,0,0
2,1,1,0,0,0,0
3,1,0,1,1,0,0
4,0,0,0,0,0,0

In [44]:
other_services = other_services.drop(columns=['OtherServices', 'OnlineSecurity_No', 'OnlineSecurity_No internet service', 'OnlineBackup_No', 'OnlineBackup_No internet service', 'DeviceProtection_No', 'DeviceProtection_No internet service', 'TechSupport_No', 'TechSupport_No internet service', 'StreamingTV_No', 'StreamingTV_No internet service', 'StreamingMovies_No', 'StreamingMovies_No internet service'])
other_services

,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes
0,0,1,0,0,0,0
1,1,0,1,0,0,0
2,1,1,0,0,0,0
3,1,0,1,1,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
7038,1,0,1,1,1,1
7039,0,1,1,0,1,1
7040,1,0,0,0,0,0
7041,0,0,0,0,0,0
7042,1,0,1,1,1,1

In [51]:
data.drop(columns=['customerID', 'OnlineSecurity', 'OnlineBackup', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']).head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [54]:
pd.concat([data,other_services])

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaymentMethod,MonthlyCharges,TotalCharges,Churn,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,Electronic check,29.85,29.85,No,NaN,NaN,NaN,NaN,NaN,NaN
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Mailed check,56.95,1889.5,No,NaN,NaN,NaN,NaN,NaN,NaN
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,Mailed check,53.85,108.15,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Bank transfer (automatic),42.30,1840.75,No,NaN,NaN,NaN,NaN,NaN,NaN
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,Electronic check,70.70,151.65,Yes,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0
7039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,1.0,1.0
7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0
7041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
7042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0